
.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
}

.button {
    -fx-pref-width: 160px;
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-border-width:5;
}
.button:hover {
    -fx-background-color: #000000; /* Background color cambia */
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header,
.table-view .column-header-background {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
}
.table-view .table-row-cell:selected {
    -fx-background-color: 	#83072D;
    -fx-text-fill: white;
}
#insertarEvento {
    -fx-background-color: #fad21c;
}
#insertarEvento:hover{
    -fx-background-color: 	#83072D;
}
#btnMenu{
    -fx-background-color: blue;
}
