.label {
    -fx-font-size: 16px;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
}

.button {
    -fx-pref-width: 150px;
    -fx-font-size: 16px;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-border-width:5;
    -fx-background-color: derive(#2ca1ff, 20%);
}
.button:hover, #LogIn:hover, #SingUp:hover, #ExtrEvento:hover, #miCuenta:hover {
    -fx-background-color: #720AAA; /* Background color change on hover */
}

#LogIn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

#SingUp {
    -fx-background-color: #008CBA;
    -fx-text-fill: white;
}
#ExtrEventos{
    -fx-font-size: 50px;
    -fx-font-family: Centaur;
}

#miCuenta{
    -fx-background-color: #8B0000;
    -fx-text-fill: white;
}
#lbVentana{
    -fx-font-size: 30px;
}
#lbVentanaPago{
    -fx-font-size: 25px;
}
