.table-view {
    -fx-background-color: #f0f0f0;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #1E90FF; /* Initial background color */
    -fx-text-fill: white; /* Text color */
    -fx-padding: 10px 20px;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}
.button:hover {
    -fx-background-color: #FF6347; /* Background color change on hover */
}
.button:pressed {
    -fx-background-color: #000000; /* Background color change on hover */
}
.table-view .column-header,
.table-view .column-header-background {
    -fx-background-color: #9df6f6;
}
