.label {
    -fx-font-size: 30px;
    -fx-text-fill: #190086;
}

.button {
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

#btnVolver {
    -fx-background-color: #3498DB;
}

.table-view {
    -fx-background-color: #F0F0F0;
}

.table-view .column-header,
.table-view .column-header-background {
    -fx-background-color: #190086;
    -fx-text-fill: white;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #E0E0E0;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
