.button {
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #FF6347; /* Background color change on hover */
}
.button:pressed {
    -fx-background-color: #000000; /* Background color change on hover */
}

#btnVolver {
    -fx-background-color: #3498DB;
}

.table-view {
    -fx-background-color: #F0CAFA;
}

.table-view .column-header,
.table-view .column-header-background {
    -fx-background-color: #8f85cf;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #E0E0E0;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
